html {
    scroll-behavior: smooth; 
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #bdb7b7;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0; padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

header {
    border: 2px solid green;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    transition: 0.3s;
}

.nav-link:hover {
    text-decoration: underline;
    }

main {
    border: 1px solid red;
}

footer {
    border: 2px solid blue;
}

.avatar{
   border-radius: 50px; 
}
